<h1>Edit Order</h1>

<p>
  <%= link_to "Add new Item", select_item_order_path(@order) %>
</p>

<% @selections.each do |selection| %>
  <p>
    <%= "#{selection.item.name} (#{selection.item.size})" %>
    <%= link_to "Remove", selection_path(selection), method: :delete, data: { "turbo-method": :delete } %>
    <% if selection.item.category == "Burger" %>
      <%= link_to "Modify", edit_selection_path(selection) %>
      <ul>
        <% selection.modifications.each do |modification| %>
          <li><%= "#{modification.item.category == "Addition" ? "Add" : "Remove"} #{modification.item.name}" %></li>
        <% end %>
      </ul>
    <% end %>
  </p>
<% end %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>