<div class="container-fluid">
  <h1>Order List</h1>
  <p>Github: 
    <a href="https://github.com/greyman888/burgers">https://github.com/greyman888/burgers</a>
  </p>

  <%= link_to "New Order", new_order_path, data: { "turbo-prefetch": :false }, class: "btn btn-primary" %>
  <%= link_to "New Voice Order", new_voice_order_path, class: "btn btn-warning" %>

  <div class="mt-3">
    <% @orders.each do |order| %>
      <p>
        <%= "#{order.id} (Items: #{order.selections.count})" %>
        <%= link_to "Edit", edit_order_path(order) %>
        <%= link_to "Show", order_path(order) %>
      </p>
    <% end %>
  </div>
</div>
