<h1>New Voice Order</h1>

<div data-controller="voice">
  <%= form_with(model: @order) do |f| %>
    <div class="form-floating">
      <%= f.text_area :chunk, placeholder: "", class: "form-control", style: "height: 200px;", data: {voice_target: "chunk"} %>
      <%= f.label :chunk, "Order"  %>
    </div>

  <div>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  <% end %>

  <div class="mt-3">
    <button data-action="voice#startCapture" class="btn btn-primary">Start</button>
    <button data-action="voice#stopCapture" class="btn btn-secondary">Stop</button>
    <button data-action="voice#convert" class="btn btn-success">Convert</button>
  </div>

  <pre data-voice-target="output">
    <%= @order.response %>
  </pre>

  <div class="mt-3">
    <%= @order.process_order %>
  </div>
</div>


