<div class="container-fluid" style="margin-top:1rem;">
  <div class="row">
    <div class="col-sm-2">
      <h3>Meal Size</h3>
      <ul>
        <li>Small</li>
        <li>Medium</li>
        <li>Large</li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h3>Burgers</h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.category == "Burger" %>
          <li><%= item.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-2">
      <h3>Additions</h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.category == "Addition" %>
          <li><%= item.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-2">
      <h3>Subtractions</h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.category == "Subtraction" %>
          <li><%= item.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-2">
      <h3>Sides</h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.category == "Side" %>
          <li><%= "#{item.name} (#{item.size})" %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-2">
      <h3>Drinks</h3>
      <ul>
        <% @items.each do |item| %>
          <% if item.category == "Drink" %>
          <li><%= "#{item.name} (#{item.size})" %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <p>Voice-to-text works with the Chrome browser. You can manually type text in the Order box if you need to.</p>
  <div data-controller="voice">
    <%= form_with(model: @order) do |f| %>
      <div class="form-floating">
        <%= f.text_area :chunk, placeholder: "", class: "form-control", style: "height: 125px;", data: {voice_target: "chunk"} %>
        <%= f.label :chunk, "Order"  %>
      </div>

      <div class="mt-3">
        <% if !@order.persisted? %>
          <button type="button" data-action="voice#startCapture" class="btn btn-success">Start</button>
          <button type="button" data-action="voice#stopCapture" class="btn btn-danger">Stop</button>
          <%= f.submit "Save", class: "btn btn-primary" %>
          <span class="visually-hidden" data-voice-target="notice">Listening...</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @order.persisted? %>
  <div class="row">
    <h3>Ai Struct JSON Output</h3>
    <div style="font-family:monospace;">
      <%= @order.response %>
    </div>
    <div class="mt-3">
      <h3>Order</h3>
      <%= render "edit_body" %>
    </div>
  </div>
    
  <% end %>
</div>

